.header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
    margin:0;
    
    font-weight: bold;
    font-size: large;
    width: 100%;
    
}
.header-main{
    position: fixed;
    top: 0;
    width: 100%;
}